.tag {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid var(--gray-light);
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}

.small {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.medium {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}

.red {
    background: #DE0000;
    color: var(--white);
}

.green {
    color: var(--green);
    background: var(--green-light);
}

.primary {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.ghost {
    color: var(--white);
    background: #B3C0D9;
    border-color: var(--gray-light);

}