:root {
	--black: #3B434E;
	--white: white;
	--primary: #7653FC;
	--red: #DE0000;
	--green-light: #C8F8E4;
	--green:#1DC37E;
	--gray-light: #EBEBEB;
	--primary-hover: #3737fc;
	--font-family: 'Noto Sans', sans-serif;

}

* {
	box-sizing: border-box;
}

body {
	color: var(--black);
	font-family: var(--font-family);
	/*background: #E5E5E5;*/
}

a {
	text-decoration: none;

	color: inherit;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
